.card{
    max-width: 320px;
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid rgba(243, 244, 246, );
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
}